<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>
        Random Form
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <center>
        <h1>
            Random Form
        </h1>
        <form action="#" th:action="@{/random_form}" th:object="${user}" method="POST">
            <h4>
                Username : <input type="text" th:field="*{userName}" placeholder="(username)"/>
            </h4>
            <h4>
                Password : <input type="password" th:field="*{userPass}" placeholder="(password)" />
            </h4>
            <input type="submit" value="Login!" />  <input type="reset" value="ReEnter!" />
        </form>
    </center>
</body>



</html>