<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>
        Register a new account
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <center>
        <h4 th:text="${entryStatus.EntryMessage}"/>
        <h1>
            Register a new account!
        </h1>
        <form action="#" th:action="@{/new_user}" th:object="${user}" method="POST">
            <h4>
                Username : <input type="text" th:field="*{userName}" placeholder="(username)"/>
            </h4>
            <h4>
                Password : <input type="password" th:field="*{userPass}" placeholder="(atleast 8 character long)" />
            </h4>
            <h4>
                Confirm Password : <input type="password" th:field="*{userPassConfirm}" placeholder="(re-enter-password)" />
            </h4>
            <input type="submit" value="Register!" />  <input type="reset" value="Reset Fields!" />
        </form>
        <a href="/"><h5> Return to Home! </h5></a>
    </center>
</body>



</html>